*,
*::after,
*::before {
    box-sizing: border-box;
}
/* CUSTOM FONT */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

/* CUSTOM FONT */ 

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: black;
}
a {
    color: #a00000;
    text-decoration: none;
  }
.üst {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    background: url(resim/neon.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kart {
    background: rgba(60, 59, 59, 0.6);
    box-shadow: 0 8px 32px 0 rgba(150, 11, 143, 0.369);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    padding: 12px;
    width: 50%;
    margin: auto;
}
.kart-mesajı {
    font-size: 12px;
    font-weight: thin;
    margin-bottom: 16px;
    font-family: monospace;
    opacity: 0.5;
}
/* / Profile \ */

.kullanıcı-profil {
    display: flex;
    gap: 1em;
}
.profil-resmi {
    position: relative;
}
#pfp {
    width: 128px;
    height: 128px;
    border-radius: 10%;
}
#durum-noktası {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #faa81a; /*online: #3ba45d idle: #faa81a dnd: #ed4245 offline: #747e8c*/
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    border: 2px solid rgba(60, 59, 59, 0.3);
}
#kullanıcı-adı {
    font-size: 28px;
    font-weight: bold;
}
#durum2,
#durum {
    opacity: 0.5;
    transition: all 0.6s ease;
}
#durum2 {
    color: #faa81a;
}

/* \ Profile / */

/* / Activity \ */

.etkinlik {
    display: flex;
    gap: 8px;
    width: 100%;
}

.etkinlik-bilgi {
    width: 100%;
}

.etkinlik-resmi {
    position: relative;
}

#etkinlik-bresim {
    width: 128px;
    height: 128px;
    border-radius: 10%;
}

#etkinlik-kresim {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
   bottom: -20%;
    right: 0px;
    transform: translate(50%, -50%);
    border: 2px solid rgba(60, 59, 59, 0.3);
}

#etkinlik-adı {
    font-size: 25px;
    font-weight: bold;
}

#etkinlik-durumu {
    font-size: 20px;
     opacity: 0.7;
}

#etkinlik-detayı {
    opacity: 0.5;
}

/* \ Activity / */

/* \ Other Sites / */

.butonlar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
.buton {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:medium;
    background-color: rgba(140, 140, 140, 0.2);
    box-shadow: 0 8px 32px 0 rgba(99, 34, 136, 0.356);
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center; 
    display: block; 
    overflow: hidden;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.buton:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* İletişim */ 

.iletişim {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sol .buton {
    display: block;
    margin-bottom: 10px;
}
  
.sağ {
    float: right;
    width: 50%;  
}

.mesaj-girişi {
    display: block;
    margin-bottom: 10px;
    height: 80px;
    width: 500px;
    max-width: 100%;
    resize: none;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(140, 140, 140, 0.2);
    color: #fff;
}

.buton span{
    font-size: 50%;
}

.mail-girişi {
    display: block;
    margin-bottom: 10px;
    height: 50px;
    width: 500px;
    max-width: 100%;
    resize: none;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(140, 140, 140, 0.2);
    color: #fff;
}

.buton-gönder {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    background-color: rgb(140, 140, 140, 0.2);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}




/* İletişim */ 


.başlık {
    font-size: 35px;
    font-weight: bold;
}

@media (max-width: 820px) {
    .kart {
        width: 98%;
    }
    .başlık {
        font-size: 30px;
    }

}
ul,
li {
    padding: 0%;
    margin: 0;
    list-style: none;
}
.bağlantılar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 5px;

}
.bağlantı-resmi {
    height: 28px;
    width: auto;
}

